{%extends "base.html" %}
{% block head %}
<title>Intonator</title>
{% endblock %}

{% block body %}

    
    <section class="mt-auto" style="flex: 1 0 auto;">
        <form class="d-md-flex flex-column align-items-md-center" style="padding: 20vh;padding-bottom: 16px;margin-top: 20vh;" action="/" methods="POST">
            <div id="title" style="margin-top: 10vh;">
            <span style="font-size: 32px;">INTONATOR</span>
            </div>
            <div><textarea class="form-control" name="sentence" placeholder="Enter text here" style="color: rgb(255,255,255);background: rgb(37,51,65);border-style: none;border-radius: 16px;margin-top: 16px;" rows="3"></textarea></div>
            <div><span><input class="button-hover" type="submit" value="Analyze" ></span></div>
        </form>
        {% if tone_pred %}
        <p style="text-align: center;color: rgb(255,255,255);font-size: 18px;">Tone: {{tone_pred}}</p>
        {% endif %}

    </section>

    <footer class="d-md-flex flex-column mt-auto justify-content-md-center align-items-md-center footer-basic" style="font-size: 16px;flex-shrink: 0; margin-bottom: 16px;">
        <ul class="list-inline" style="font-size: 24px;margin-top: 64px">
            <li class="list-inline-item" style="color: rgb(29,155,240);"><a href="https://github.com/alfyn78/intonator" style="background: rgba(255,255,255,0);color: rgb(235, 235, 235);font-size: 18px;text-decoration: none;">About</a></li>
        </ul>
        <p class="copyright" style="color: rgb(131,148,160);font-size: 12px;margin-top: -8px;">DGE'03 © 2021</p>

    </footer>
{% endblock %}
